
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    padding-bottom: -1cm;
}
.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
    background-size:100px; 
    background-position: center;
    
}
nav{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
    
    nav ul {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
    }
    
    nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
    }
    
    nav ul li a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Montserrat';
    }
    
    nav ul li::after{
      content: '';
      height: 3px;
      width: 0;
      background: #009688;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
  }
  
  nav ul li:hover::after{
      width: 100%;
  }
  
    .logo{
      width: 120px;
      cursor: pointer;
      border-radius: 50%;
  }
  .upper{
    min-height: 100vh;
    width: 100%;
    /*background: #c8e8e9;*/
    
    display:flex;
    justify-content: center;
  }
  .upper {
    color: white;
  }
  body {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(background.jpg);
  }
  .Akira {
    width: 200px;
    cursor: pointer;
    border-radius: 50%;
  }
  .Karthik {
    width: 200px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 100px;
  }
  .name{
    padding-left: 0px;
    font-size: xx-large;
    font-family: 'Montserrat';
    margin-left: -20px;
  }
  .name1{
    padding-left: 150px;
    font-size:xx-large;
    font-family: 'Montserrat';
  }
  .links{
    margin-left: -40px;
    size: 5cm;
  }
  .links1{
    margin-left: 50px;
    padding-left: 15px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50px;
  } 

  .fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #f8530ce7;
  color: white;
}
  